<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlYmZmYTFhZGJiMzQ1NjhkNTBiOGE4Mjg3MjkwZjRjOCIsIm5iZiI6MTU2MzcxNzQ1MS4xNjIsInN1YiI6IjVkMzQ2ZjRiMmY4ZDA5N2RiOWQxODJhMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Nt614ZAtx0CPwy2Dcc7wL5aiuCtH5ucYECs-5CMtn60</string>
</dict>
</plist>
